<div class="clg-opn-container" 
	ng-show="DATA_SERVICE.ADMINISTRATION.showAdminOptions" >
	<div ng-click="openView( 'FILE_MANAGER' )" class="panel panel-default clg-option">
		<div class="panel-heading">
			<a href="javascript: void( 0 )" 
				class="clg-opn-icon">
				<i class="glyphicon glyphicon-user"></i>
			</a>
			Document Manager
		</div>
		<div class="panel-body">

		</div>
	</div>
<!-- 	<div ng-click="openView( 'DESIGNER' )" class="panel panel-default clg-option"> -->
<!-- 		<div class="panel-heading"> -->
<!-- 			<a href="javascript: void( 0 )"  -->
<!-- 				class="clg-opn-icon"> -->
<!-- 				<i class="glyphicon glyphicon-picture"></i> -->
<!-- 			</a> -->
<!-- 			Designer -->
<!-- 		</div> -->
<!-- 		<div class="panel-body"> -->

<!-- 		</div> -->
<!-- 	</div> -->
</div>